.button {
  @extend .animated-fast;
  margin-bottom: $base-space;
  padding: $base-space * 1 $base-space * 1/2;
  border: none;
  border-radius: $border-radius;
  outline: none;
  box-sizing:border-box;
  margin : 0 $base-space $base-space*2 $base-space ;


  &.button--theme {
    background-color: $color-theme;
    color: $color-white;
  }

  &.button--full-width {
    width: 100%;
    margin: 0 0 $base-space*2 0;
  }

  &.button--link {
    background-color: transparent;
    color: $color-theme;
  }
  &.button--danger {
    background-color: $color-red;
    color: $color-white;
  }
  &.button--success {
    background-color: $color-green;
    color: $color-black;
  }

  &:disabled {
    background-color: $color-disabled-background;
    color: $color-disabled-text;
  }
  &:hover {
    @extend .box-shadow;
  }
}
