.checkbox {
  padding-left: 40px;
  position: relative;
  margin-bottom: 32px;
  outline: none;

  .checkbox__label {
    margin-bottom: 0;
  }

  &.checkbox--clickable-label {
    cursor: pointer;
  }

  .checkbox__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    border-radius: 12px;
    cursor: pointer;

    &.checkbox__icon--unchecked {
      background-color: $color-white;
    }

    &.checkbox__icon--checked {
      background-image: url('data:image/svg+xml;utf8,<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m17 8.5-7.5 7-2.5-2.5" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>');
      background-color: $color-theme;
    }
  }
}
