.select {
  position: relative;
  border: 1px solid $color-dark-gray;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  width: 100%;

  .select__label {
    position: absolute;
    transition: 0.3s ease-in-out;
    line-height: 12px;
    padding: 0 2px;
    top: 16px;
  }

  .select__input {
    outline: none;
    width: 100%;
    border: none;
    height: 24px;
  }

  .select__options-container {
    border: 3px solid $color-theme;
    background-color: white;
  }

  .select__option {
    padding: 8px;

    &:not(:last-child) {
      border-bottom: 1px solid $color-theme;
    }
  }

  .select__caret-container {
    position: absolute;
    width: 40px;
    height: 100%;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.select--active {
    border: 3px solid $color-theme;
    padding: 8px;

    .select__label {
      color: $color-theme;
      background-color: #fff;
      top: -8px;
      font-size: 12px;
    }
  }
}
