.textbox {
  position: relative;
  border: 1px solid $color-dark-gray;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;

  .textbox__label {
    position: absolute;
    transition: 0.3s ease-in-out;
    line-height: 12px;
    padding: 0 2px;
    top: 16px;
  }

  .textbox__input {
    outline: none;
    width: 100%;
    border: none;
  }

  &.textbox--active {
    border: 3px solid $color-theme;
    padding: 8px;

    .textbox__label {
      color: $color-theme;
      background-color: #fff;
      top: -8px;
      font-size: 12px;
    }
  }
}
