.admin-layout {
  @extend .background-cover;
  $header-height: 60px;
  $menu-width: 300px;
  position: relative;
  overflow: hidden;
  height: 100%;

  background-image: url("assets/img/galaxy-wallpaper-36.jpg");

  .admin-layout__menu {
    @extend .animated;
    width: $menu-width;
    background-color: rgba(69, 39, 160, 0.5);
    height: 100%;
    position: absolute;
    left: -$menu-width;
    top: 0;
  }

  .admin-layout__middle {
    height: 100%;
    padding: $base-space * 2;
    padding-top: $header-height + $base-space*2;
  }

  .admin-layout__header {
    @extend .vertical-center;
    height: $header-height;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(57, 73, 171, 0.5);
    padding: $base-space;
    padding-left: 60px;
    padding-right: $base-space*2;
  }

  .admin-layout__content {
    @extend .fancy-scrollbar;
    @extend .full-size;
    background-color: $color-white;
    overflow: auto;
  }

  .admin-layout__menu-container {
    color: white;
  }

  .admin-layout__menu-row {
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
    padding: $base-space * 2;
    cursor: pointer;
  }

  .admin-layout__menu-toggle-button {
    @extend .border-radius;
    @extend .animated;
    position: absolute;
    top: $base-space;
    right: -50px;
    display: inline-block;
    padding: $base-space $base-space * 2;
    background-color: rgba(21, 101, 192, 1);
    cursor: pointer;
  }

  .admin-layout__user-menu-pill-name {
    font-weight: bold;
    margin-right: $base-space*2;
    display: inline-block;
  }

  .admin-layout__user-menu-pill-avatar {
    @extend .box-sizing;
    height: $base-space*3;
    width: $base-space*3;
    background-color: $color-theme;
    border-radius: 50%;
    display: inline-block;
  }

  .admin-layout__menu-header {
    // height: $menu-width;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
    padding: $base-space*4;
  }


  .admin-layout__user-menu-pill {
    @extend .vertical-center;
    background-color: $color-white;
    background-color: white;
    height: $base-space*5;
    border-radius: 20px;
    align-self: flex-end;
    padding: $base-space $base-space $base-space $base-space*3;
  }

  .admin-layout__user-menu-dropdown {
    @extend .box-shadow;
    margin-top: $base-space;
    background-color: $color-white;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
  }

  .admin-layout__user-menu-dropdown-item {
    padding: $base-space;
    cursor: pointer;

  }

  &.admin-layout--menu-expanded {
    .admin-layout__menu {
      left: 0;
      background-color: rgba(69, 39, 160, 1);
    }

    .admin-layout__menu-toggle-button {
      right: $base-space;
    }

    .admin-layout__header {
      padding-left: $menu-width;
    }
  }

  .table-congregation-list{
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}
  .table-congregation-list td, .table-congregation-list__th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table-congregation-list tr:nth-child(even){background-color: #b5bcbe;}
  
  .table-congregation-list tr:hover {background-color: #ddd;}
  
  .table-congregation-list__th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(163, 58, 204);
    color: white;
  }

  .form-add-congregation {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 8px;
    border: 2px solid #555;
    box-sizing: border-box;
    background-color: lightgrey;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
  }

  .button-submit-add-congregation {
    margin-right:15px;
  }

  .button-reset-add-congregation {
    
  }

  .table-service-list{
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}
  .table-service-list td, .table-congregation-list__th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table-service-list tr:nth-child(even){background-color: #b5bcbe;}
  
  .table-service-list tr:hover {background-color: #ddd;}
  
  .table-service-list__th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(90, 93, 231);
    color: white;
  }

  .form-add-service {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 8px;
    border: 2px solid #555;
    box-sizing: border-box;
    background-color: lightgrey;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
  }

  .button-submit-add-service {
    margin-right:15px;
  }

  .button-reset-add-service {
    
  }
}

