.components{
  padding: $base-space*4;
  .components__sample-container{
    padding: $base-space*2;
    border-radius: $border-radius;
    border: 1px solid $color-light-gray;
    margin-bottom: $base-space*2;
  }
  .components__sample-container-title{
    text-align: center;
    font-size: $font-size-large;
    border-bottom: 2px solid $color-light-gray;
  }
  .components__sample-container-content{
    padding: $base-space 0;
  }
}
