.user {
  @include padding($base-space);
  @include box-sizing();
  width: 100%;
  height: 100%;

  .user__form {}

  .user__table {
    width: 100%;
  }

  .user__section {
    @include padding($base-space);
    @include box-sizing();
    @include border-radius();
    width: 100%;
    border: 3px solid teal;
    margin-bottom: $base-space*3;
  }

  .user__section-header {
    font-size: 24px;
    font-weight: bold;
  }
}
