.full-size {
  height: 100%;
  width: 100%;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-shadow {
  box-shadow: 2px 2px 4px #444;
}

.animated {
  transition: 0.5s;
  transition-timing-function: ease-in;
}

.animated-fast {
  transition: 0.3s;
  transition-timing-function: ease-in;
}

.fancy-scrollbar {
  $color: rgba(21, 101, 192, 1);

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(0deg,
        rgba(255, 255, 255, 0.5) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0.5) 75%,
        transparent 75%,
        transparent)
  }
}

.background-cover {
  background-position: center;
  background-size: cover;
}

.animated {
  transition: 0.5s ease-in-out;
}



.box-sizing {
  box-sizing: border-box;
}

.border-radius {

  border-radius: $base-space;
}
