$base-space : 8px;
$border-radius : 4px;

$color-theme : #52D;
$color-black : #111;
$color-gray : #888;
$color-dark-gray: #333;
$color-light-gray: #ddd;
$color-white : #F0F0F0;
$color-red : #D25;
$color-green : #2D5;

$font-size-small : 12px;
$font-size-normal : 16px;
$font-size-large : 24px;

$color-disabled-background : #888;
$color-disabled-text : #444;
$base-space: 8px;
