@import "variables";
@import "mixins";
@import "common";
@import "pages/index";
@import "layouts/index";
@import "components/index";

body {
  font-size: $font-size-normal;
  padding: 0;
  margin: 0;
}
